<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h2>Editar datos</h2>
    <form action="/update/<%= user.id %>" method="post">
        <label for="name">Nombre</label>
            <input type="text" name="name" id="name" value="<%= user.name %>">

        <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= user.email %>">
            <br>
            <button type="submit" >Actualizar</button>
    </form>

</body>
</html>

<!-- //Git hub . Captura de inicio, Cap de registro, cap de que se puso el registro y ese mismo 
lo actualizamos, 5 caps -->