<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="/icono.png">
</head>
<body>
    <h1>Inicio de mi pagina principal</h1>
    <p>Esta es una pagina de inicio con rutas</p>
    <a href="/registro.html">Ir a registro</a>
    <a href="/calculadora.html">Ir a calculadora</a>


</body>
</html>

<!-- Configuracion del servidor para tener la calculadora, los estilos.
 Menú generico que diga "calculadora" o "generador de codigo qr" y redirija al inicio
 Estructura del proyecto como lo hemos estado haciendo
 Todo con express.
 caputra de inicio, cap de calculadora y cap del generador, que se vea el puerto
 -->