<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="styles/stylesMenu.css">
    <link rel="shortcut icon" href="/icono.png">
   
</head>
<body>
    <div class="container">
        <h1>Menú aplicaciones</h1>
        <p>Esta es una pagina de inicio con rutas a proyectos de Programación Web II. ¡Navega con nuestros patitos guía!</p>
        
        <div class="duck-nav">
            <a href="calculadora.html" class="duck-button">Ir a calculadora</a>
            <a href="QR.html" class="duck-button">Ir a generador QR</a>
            <a href="registro.html" class="duck-button">Ir a registro</a>

        </div>
        
        <div class="duck-pond">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="floating-duck">🦆</div>
            <div class="floating-duck">🦆</div>
            <div class="floating-duck">🦆</div>
        </div>
    </div>
</body>
</html>

<!-- Configuracion del servidor para tener la calculadora, los estilos.
 Menú generico que diga "calculadora" o "generador de codigo qr" y redirija al inicio
 Estructura del proyecto como lo hemos estado haciendo
 Todo con express.
 caputra de inicio, cap de calculadora y cap del generador, que se vea el puerto
 -->