<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/stylesRegistro.css">
    <title>Registro</title>
   
</head>
<body>
    <div class="container">
        <h1>Página de registro</h1>
        <form action="#">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" required maxlength="25" placeholder="Ingresa tu nombre">
            
            <label for="pass">Contraseña: </label>
            <input type="password" name="pass" id="pass" required maxlength="15" placeholder="Ingresa tu contraseña">
            
            <div class="button-group">
                <button type="submit">Ingresar</button>
                <button type="reset">Borrar datos</button>
            </div>
        </form>
        <a href="/" class="home-link">Regresar a menú</a>
        
        <div class="pond">
            <div class="duck"></div>
        </div>
    </div>
</body>
</html>